<style>
.fancyprogress {
  height: 20px;
  background: #ebebeb;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
.fancyprogress > span {
  position: relative;
  float: left;
  margin: 0px;
  min-width: 30px;
  height: 18px;
  line-height: 16px;
  text-align: right;
  background: #cccccc;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: linear-gradient(to bottom, #f0f0f0, #dbdbdb 70%, #cccccc);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fancyprogress > span > span {
  padding: 0 8px;
  font-size: 15px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.fancyprogress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 25px;
  background: url( <%= asset_path 'progress.png' %>) 0 0 repeat-x;
  border-radius: 10px;
}
.fancyprogress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -moz-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -o-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: linear-gradient(to bottom, #b7dc8e, #99ce5f 70%, #85c440);
}
.fancyprogress .red {
  background: #db3a27;
  border-color: #c73321 #b12d1e #8e2418;
  background-image: -webkit-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -moz-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -o-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: linear-gradient(to bottom, #ea8a7e, #e15a4a 70%, #db3a27);
}
.fancyprogress .orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c);
}
.fancyprogress .blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}
</style>
<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						Memory
					</h3>
					<h5>
						<span>
							Memory
						</span>
					</h5>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="leak-suspect-pie">
						
					</div>
				</div>
				<div class="col-md-6">
					<div id="heap-size-pie">
						
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="box">
				<div class="box-content">
					<table class="table table-normal">
						<thead>
							<tr>
              <td style="width:10px;"></td>
								<td>Method</td>
								<td style="width:200px;">Leak Suspect(%)</td>
								<td style="width:200px;">Heap Size</td>
							</tr>
						</thead>
						<tbody >
							<% for i in 0..10 %>
								<tr>
                <% case i.to_s %>
                <% when "0" then %>
                <td style="width:10px;" bgcolor="red"></td>
                <% when "1" then %>
                <td style="width:10px;" bgcolor="orange"></td>
                <% when "2" then %>
                <td style="width:10px;" bgcolor="yellow"></td>
                <% when "3" then %>
                <td style="width:10px;" bgcolor="green"></td>
                <% when "4" then %>
                <td style="width:10px;" bgcolor="springgreen"></td>
                <% when "5" then %>
                <td style="width:10px;" bgcolor="cyan"></td>
                <% when "6" then %>
                <td style="width:10px;" bgcolor="blue"></td>
                                <% when "7" then %>
                <td style="width:10px;" bgcolor="black"></td>
                                <% when "8" then %>
                <td style="width:10px;" bgcolor="black"></td>
                                                <% when "9" then %>
                <td style="width:10px;" bgcolor="black"></td>
                                                <% when "10" then %>
                <td style="width:10px;" bgcolor="black"></td>
                <% else %> <td style="width:10px;" bgcolor="black"></td>
                <% end %>
                
									<td>com.sw.taskShow.onCreate</td>
									<td>
							    <div class="fancyprogress">
							    <% firstversion = 50 %>
								  <span class="orange" style="width: <%= firstversion %>%;"><span><%= firstversion %>%</span></span>
							    </div>
							    </td>
									<td>98732</td>
								</tr>
							<% end  %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>	
</div>